SYMMETRIC_KEYS_APP_IS_PROD="False"
SYMMETRIC_KEYS_APP_PBKDF2HMAC_SALT="VeryLongRandomString1234567890987654321"
SYMMETRIC_KEYS_APP_PBKDF2HMAC_LENGTH=32
SYMMETRIC_KEYS_APP_PBKDF2HMAC_ITERATIONS=100_000
SYMMETRIC_KEYS_APP_AES_BLOCK_SIZE=16
SYMMETRIC_KEYS_APP_CC_NONCE=16
